{% extends "base.twig" %}
{% block content %}
    <header class="bg-dark" role="header">
        <div class="container">
            <h1 class="text-center text-light"><a href="http://www.chanel.com" onfocus="blur();">CHANEL</a></h1>
        </div>
    </header>
    <section class="container" role="application">
        <ul class="listing">
            {% for product in products %}
                <li>
                    <div class="card">
                        <figure>
                            <img class="card-img-top" src="/img/{{ product.image }}" alt="Alt text" />
                            <figcaption>{{ product.name }}</figcaption>
                        </figure>
                        <div class="card-body">
                            <span>
                                <h1 class="card-title">{{ product.name }}</h1>
                            </span>
                            <h6 class="card-text">{{ product.description }}</h6>
                            <a class="btn btn-primary" href="/products/view/{{ product.id }}" title="View more">
                                <button>
                                    View More
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}