{% extends "base.twig" %}
{% block content %}
    <header class="bg-dark" role="header">
        <div class="container">
            <h1 class="text-center text-light">{{ product.name }}</h1>
        </div>
    </header>
    <section class="container" role="application">
        <div class="row">
            <div class="col-4">
                <figure>
                    <img class="card-img-top" src="/img/{{ product.image }}" />
                    <figcaption>{{ product.name }}</figcaption>
                </figure>
            </div>
            <div class="col-8">
                <p>{{ product.description }}</p>
                <p>Stock level: {{ product.stock }}</p>
                <a class="btn btn-primary" href="/products/cart/{{ product.id }}">Buy</a>
            </div>
        </div>
    </section>

{% endblock %}